@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-black: #000;
  --color-teal: #16C098;
  --color-white: #FFF;
  --color-light-gray: rgba(226, 236, 249, 0.50);
  --color-cool-gray: #9197B3;
  --color-input-background: #F9FBFF;
  --color-text-light: #B5B7C0;
  --color-text-dark: #292D32;
  --color-sidebar-text: #838383;
  --color-sidebar-subtext: #757575;
  --color-highlight: #5932EA;
  --color-status-active-text: #008767;
  --color-status-active-border: #00B087;
  --color-status-active-bg: rgba(22, 192, 152, 0.38);
  --color-status-inactive: #DF0404;
  --color-status-inactive-bg: #FFC5C5;
  --color-pagination-text: #404B52;
  --color-pagination-border: #EEE;
  --color-pagination-bg: #F5F5F5;
}


body {
  width: 1440px;
  height: 1198px;
  margin: 0 auto;
  background: #FAFBFF;
  font-family: Poppins;
}

@media (max-width: 768px) {
  body {
    width: 100vw;
  }
}